@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

.policies_btn{
    height: 40px;
    width: 100px;
    margin-left: 24px;
    background-color: #F2A71B;
    border: none;
    color: white;
}